<%= link_to(potepan_category_path(taxon.id), type: "button", class: "btn btn-default #{"active" if active_type != "List"} grid", remote: true) do %>
  <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span>
<% end %>
<%= link_to(potepan_category_path(taxon.id, active_type: "List"), type: "button", class: "btn btn-default #{"active" if active_type == "List"} list", remote: true) do %>
  <i class="fa fa-th-list" aria-hidden="true"></i><span>List</span>
<% end %>
