<% products.each do |product| %>
  <div class="card mb-3" style="max-width: 600px;">
    <div class="row no-gutters">
      <div class="listImage col-md-4">
        <%= link_to image_tag(product.display_image.attachment(:small)), potepan_product_path(product.id) %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <%= link_to potepan_product_path(product.id) do %>
            <h4><%= product.name %></h4>
            <h3><%= product.display_price %></h3>
            <p><%= product.description %></p>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
  </div>
<% end %>
