<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <div class="panel panel-default">
    <div class="panel-heading">商品カテゴリー</div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <% taxonomies.each do |taxonomy| %>
            <li>
              <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy_<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
              <ul id="taxonomy_<%= taxonomy.id %>" class="collapse collapseItem">
                <% taxonomy.root.children.each do |taxon| %>
                  <% if taxon.leaf? %>
                    <li>
                      <%= link_to potepan_category_path(taxon.id) do %>
                        <i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %><span>(<%= taxon.products.all.count %>)</span>
                      <% end %>
                    </li>
                  <% elsif %>
                    <div class="grand-child-taxons">
                      <a href="javascript:;" data-toggle="collapse" data-target="#taxon_<%= taxon.id %>" class="collapse collapseItem"><%= taxon.name %><i class="fa fa-plus"></i></a>
                      <ul id="taxon_<%= taxon.id %>" class="collapse collapseItem">
                        <% taxon.children.each do |g_taxon| %>
                          <li>
                            <%= link_to potepan_category_path(g_taxon.id) do %>
                              <i class="fa fa-caret-right" aria-hidden="true"></i><%= g_taxon.name %><span>(<%= g_taxon.products.all.count %>)</span>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">色から探す</div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <li><a href="#">ブラック<span>(15)</span></a></li>
        <li><a href="#">ホワイト<span>(10)</span></a></li>
        <li><a href="#">レッド<span>(7)</span></a></li>
        <li><a href="#">ブルー<span>(12)</span></a></li>
        <li><a href="#">オレンジ<span>(12)</span></a></li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">サイズから探す</div>
    <div class="panel-body">
      <ul class="list-unstyled clearfix">
        <li><a href="#">S<span>(15)</span></a></li>
        <li><a href="#">M<span>(10)</span></a></li>
        <li><a href="#">L<span>(7)</span></a></li>
        <li><a href="#">XL<span>(12)</span></a></li>
      </ul>
    </div>
  </div>
</div>
