$(".view-switch-button").html("<%= escape_javascript(render 'grid_list_switch_button',products: @products, taxon: @taxon, active_type: @active_type) %>");
$(".gl-conditional-branch").html("<%= escape_javascript(render 'gl_conditional_branch',products: @products, taxon: @taxon, active_type: @active_type) %>");
