<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render "upper_light_section", taxon: @taxon %>
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render "side_bar", taxonomies: @taxonomies %>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render "filter_area", taxon: @taxon, active_type: @active_type %>
          <div class="row gl-conditional-branch">
            <%= render "gl_conditional_branch", products: @products, taxon: @taxon, active_type: @active_type %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render "companies_logo" %>
  <%= render "login_modal" %>
  <%= render "sign_up_modal" %>
</div>
